h1{
    color: #9952a5;
    text-align: center;
    padding: 25px;
    margin: 25px;
    font-size: 70px;

}
body{
    background-image: url(img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
html{
    scroll-behavior: smooth;
}
marquee{
    font-size: x-large;
    background-color: #a70ec2;
    color:aliceblue
}
.search__input.field__input,
.search-modal__form .field:after{
  border-radius: 80px;
}



hr{
    margin:0px;
    padding: auto;
}
nav{
    background-color: rgb(255, 255, 255);
    opacity: 50%;
    width: 100%;
    height: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav ol{
    display: block;
}
nav li{
    list-style-type: none;
    display: inline;
    padding-right: 35px;
    font-size: 20px;
}
h2{
    font-size:35px;
    color:blanchedalmond;
    text-align: center;
    text-decoration-line: underline;
}
p{
    padding-left: 10px;
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', 'Times', 'serif';
}
#h2{
    color:blanchedalmond;
    font-size: 30px;
    padding-left: 20px;
    display: inline;
    text-decoration: underline;
}
img{
    
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    vertical-align: middle;
}
.wrapper{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid blanchedalmond;
    gap: 5rem;
}
.intro{
    flex: 1;
}
#about{
    text-align: center;
}
.img2{
    display: flex;
    border: 1px solid blanchedalmond;
    justify-content: center;
    align-items: center;
    border-style:groove;
    max-width: 100%;
    box-sizing: content-box;

}
.para{
    text-align: center;
    font-style: oblique;
}
#par{
    font-style: oblique;
}
.search-container{
    border: 1px solid #151415;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    display: block;
    margin: 0% auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    height: 40px;
    max-width: 500px;
    justify-content: center;
}
.search-input{
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    flex-grow: 1;
    background: transparent;
}
.search-button{
    border: 1px solid #151415;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-style: oblique;
    color: black;
    background-color: antiquewhite;
}
.portai{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blanchedalmond;
}
.img3{
    max-width: 600px;
    height: auto;
}
#p3{
    font-style: oblique;
}
    