h1{
    color: #9952a5;
    text-align: center;
    padding: 25px;
    margin: 25px;
    font-size: 70px;

}
marquee{
    font-size: x-large;
    background-color: #a70ec2;
    color:aliceblue
}
h2{
    color: blue;
    text-align: right;
    margin: 0%;
}
summary{
    font-size: 30px;
}
li{
    font-size: 30px;
}
button{
     background-color: blue;
     color:whitesmoke;
     
}
