h1{
    color: #9952a5;
    text-align: center;
    padding: 25px;
    margin: 25px;
    font-size: 70px;

}
marquee{
    font-size: x-large;
    background-color: #a70ec2;
    color:aliceblue
}

summary{
    font-size: 30px;
}
li{
    font-size: 30px;
}
button{
     background-color: blue;
     color:whitesmoke;
     font-size: 25px;
     display: block;
     margin: 0,auto;
     
}
#rows{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 238, 234);

    

}
#rows div{
    width: 25%;
    margin: 10px;
    font-size: 25px;
}
.sign{
    color: #5671f8;

}
hr{
    margin:0px;
    padding: auto;
}